alias "ㅊㅇ"="cd"
alias "챙ㄷ"="code"

# Directories
alias ..="cd ../"
alias ...="cd ../../"
alias ....="cd ../../../"
alias .....="cd ../../../../"
alias home="cd ~"
alias sites="cd ~/Sites"
alias "냣ㄷㄴ"="cd ~/Sites"
alias swifts="cd ~/Swifts"
alias resources="cd ~/Resources"
alias docspaces="cd ~/Workspaces/docspaces"
alias htmlspaces="cd ~/Workspaces/htmlspace"
alias phpspace="cd ~/Workspaces/phpspace"
alias androids="cd ~/AndroidStudioProjects"
alias umlspaces="cd ~/Workspaces/umlspaces"
alias javascripts="cd ~/Javascripts"
alias mevns="cd ~/Mevns"
alias nexts="cd ~/Nexts"
alias expresses="cd ~/Express"
alias reacts="cd ~/Reacts"
alias dalcom="cd ~/Dalcom"
alias slowquery="cd /usr/local/var/mysql/slowqueries/"

# Commands
alias ll='ls -FGlAhp'
alias finder="open -a 'Finder' ."
alias updatedb="sudo /usr/libexec/locate.updatedb"
alias hosts="sudo vi /etc/hosts"

# Various
alias localip="ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1'"
alias ip="curl icanhazip.com"
alias aliasup="source ~/.aliases"

# CakePHP
alias cbake='app/Console/cake bake'

# Laravel
alias ppu="./vendor/bin/phpunit"
alias art="php artisan"
alias packagistkr="composer config -g repos.packagist composer https://packagist.kr"
alias packagistorg="composer config -g --unset repos.packagist"
alias valetuse="valet use; composer global update;"

function routes()
{
    if [ $# -eq 0 ]; then
        php artisan route:list
    else
        php artisan route:list | grep ${1}
    fi
}

function port()
{
    if [ $# -eq 0 ]; then
        echo 'Port need.'
    else
        curl http://portquiz.net:${1}
    fi
}
